@font-face {
  font-family: "Integral CF";
  src: local("Integral CF"), local("IntegralCF-Regular"), url("/fonts/IntegralCF-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/IntegralCF-Regular.woff2") format("woff2"), url("/fonts/IntegralCF-Regular.woff") format("woff"), url("/fonts/IntegralCF-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("IntegralCF-Regular.eot");
  src: local("Satoshi-Variable"), url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1440px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 5%;
  gap: 40px;
}
header h2 {
  color: #000;
  font-family: Integral CF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .headerMenulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
header .headerMenulist a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .headerMenulist a img {
  padding-left: 4px;
}
header .headerSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 62px;
  background: #f0f0f0;
  padding: 12px 16px;
  padding-right: 374px;
  gap: 12px;
}
header .headerSearch input {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.4);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .headerCartprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footerSubscribemail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 212px;
  border-radius: 20px;
  background: #000;
  padding: 36px 64px;
  margin: 0px 80px;
}
footer .footerSubscribemail h2 {
  color: #fff;
  font-family: Integral CF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
footer .footerSubscribemail .subscribemailInput .subscribemailInputMail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 62px;
  background: #fff;
  padding: 12px 16px;
  gap: 12px;
}
footer .footerSubscribemail .subscribemailInput .subscribemailInputMail input {
  color: rgba(0, 0, 0, 0.4);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 124px;
}
footer .footerSubscribemail .subscribemailInput button {
  border-radius: 62px;
  background: #fff;
  padding: 12px 124px;
  margin-top: 14px;
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 100px;
  gap: 113px;
}
footer .footerLinks .footerLinksColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footerLinks .footerLinksColumn h2 {
  color: #000;
  font-family: Integral CF;
  font-size: 33.455px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 25px;
}
footer .footerLinks .footerLinksColumn .footerLinksColumnSocials {
  padding-top: 35px;
}
footer .footerLinks .footerLinksColumn h3 {
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 26px;
}
footer .footerLinks .footerLinksColumn a {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  padding-top: 20px;
}
footer .footerLinks .footerLinksColumn p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
footer .footerRights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 100px;
}
footer .footerRights h4 {
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footerRights .footerRightsBanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
footer .footerRights .footerRightsBanks button {
  background: none;
  border: none;
  border-radius: 100px;
}

main {
  padding: 0px 90px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  padding-top: 24px;
}
.head a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.head a span {
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 36px;
}
.product .productImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 14px;
  padding-right: 40px;
}
.product .productImages .productImagesSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.product .productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product .productInfo h1 {
  color: #000;
  font-family: Integral CF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .productInfo .productInfoRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.product .productInfo .productInfoRating p {
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
  padding-left: 9px;
}
.product .productInfo .productInfoRating p span {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product .productInfo .productInfoPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.product .productInfo .productInfoPrice h4 {
  color: #000;
  font-family: Satoshi;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .productInfo .productInfoPrice h5 {
  color: rgba(0, 0, 0, 0.3);
  font-family: Satoshi;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product .productInfo .productInfoPrice h6 {
  color: #f33;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 62px;
  background: rgba(255, 51, 51, 0.1);
  padding: 6px 14px;
}
.product .productInfo p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-top: 20px;
}
.product .productInfo .productInfoColorselect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 24px 0px;
  padding-bottom: 24px;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}
.product .productInfo .productInfoColorselect .productInfoColorselectPalette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 16px;
  gap: 16px;
}
.product .productInfo .productInfoColorselect .productInfoColorselectPalette .productInfoColorselectPaletteColor1 {
  border: none;
  border-radius: 50px;
  background: #4f4631;
  padding: 10px;
  width: 37px;
}
.product .productInfo .productInfoColorselect .productInfoColorselectPalette .productInfoColorselectPaletteColor2 {
  border: none;
  border-radius: 50px;
  background: #314f4a;
  padding: 10px;
  width: 37px;
}
.product .productInfo .productInfoColorselect .productInfoColorselectPalette .productInfoColorselectPaletteColor3 {
  border: none;
  border-radius: 50px;
  background: #31344f;
  padding: 10px;
  width: 37px;
}
.product .productInfo .productInfoSizeselect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}
.product .productInfo .productInfoSizeselect p {
  padding: 0px;
}
.product .productInfo .productInfoSizeselect .productInfoSizeselectSizetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.product .productInfo .productInfoSizeselect .productInfoSizeselectSizetable button {
  border-radius: 62px;
  background: #f0f0f0;
  padding: 12px 24px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product .productInfo .productInfoSizeselect .productInfoSizeselectSizetable button:hover {
  background: #000;
  color: #fff;
}
.product .productInfo .productInfoCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 24px;
  gap: 20px;
}
.product .productInfo .productInfoCart button {
  border-radius: 62px;
  background: #000;
  padding: 16px 164px;
  color: #fff;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product .productInfo .productInfoCart .productInfoCartAddremove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  border-radius: 62px;
  background: #f0f0f0;
  padding: 16px 20px;
}
.product .productInfo .productInfoCart .productInfoCartAddremove h2 {
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product .productInfo .productInfoCart .productInfoCartAddremove button {
  background: none;
  border: none;
  padding: 0px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews .reviewsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.reviews .reviewsHeader .reviewsHeaderSubsections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.reviews .reviewsHeader .reviewsHeaderSubsections button {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 24px 0px;
  border: none;
  background: none;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
  width: 100%;
}
.reviews .reviewsHeader .reviewsHeaderSubsections button:hover {
  color: #000;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  border-bottom: #000000 solid 1px;
}
.reviews .reviewsHeader .reviewsHeaderFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0px;
}
.reviews .reviewsHeader .reviewsHeaderFilter h2 {
  color: #000;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.reviews .reviewsHeader .reviewsHeaderFilter h2 span {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-left: 8px;
}
.reviews .reviewsHeader .reviewsHeaderFilter .reviewsHeaderFilterButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.reviews .reviewsHeader .reviewsHeaderFilter .reviewsHeaderFilterButtons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 62px;
  background: #f0f0f0;
  padding: 15px 20px;
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.reviews .reviewsHeader .reviewsHeaderFilter .reviewsHeaderFilterButtons button img {
  padding-left: 21px;
}
.reviews .reviewsHeader .reviewsHeaderFilter .reviewsHeaderFilterButtons button:last-child {
  color: #fff;
  background: #000;
}
.reviews .reviewsMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.reviews .reviewsMain .reviewsMainReviewcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 32px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent .reviewsMainReviewcardContentLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent .reviewsMainReviewcardContentLeft .reviewsMainReviewcardRate {
  gap: 6, 5px;
  padding-bottom: 15px;
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent .reviewsMainReviewcardContentLeft .reviewsMainReviewcardName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding-bottom: 12px;
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent .reviewsMainReviewcardContentLeft .reviewsMainReviewcardName h3 {
  color: #000;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent .reviewsMainReviewcardContentLeft p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 24px;
}
.reviews .reviewsMain .reviewsMainReviewcard .reviewsMainReviewcardContent .reviewsMainReviewcardContentRight button {
  border: none;
  background: none;
}
.reviews .reviewsMain .reviewsMainReviewcard > p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.reviews .reviewsFooter {
  padding-top: 36px;
}
.reviews .reviewsFooter button {
  padding: 16px 54px;
  background: none;
  border: none;
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.alsolike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
  padding-bottom: 78px;
}
.alsolike h2 {
  padding-bottom: 50px;
  color: #000;
  text-align: center;
  font-family: Integral CF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.alsolike .alsolikeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 21px;
}
.alsolike .alsolikeList .alsolikeListCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.alsolike .alsolikeList .alsolikeListCard img {
  border-radius: 20px;
}
.alsolike .alsolikeList .alsolikeListCard h3 {
  color: #000;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 16px;
}
.alsolike .alsolikeList .alsolikeListCard .productsListCardRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px;
  gap: 5px;
}
.alsolike .alsolikeList .alsolikeListCard .productsListCardRating p {
  color: #000;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 2px;
  padding-left: 10px;
}
.alsolike .alsolikeList .alsolikeListCard .productsListCardRating p span {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.alsolike .alsolikeList .alsolikeListCard .alsolikeListCardPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.alsolike .alsolikeList .alsolikeListCard .alsolikeListCardPrice h4 {
  color: #000;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.alsolike .alsolikeList .alsolikeListCard .alsolikeListCardPrice h5 {
  color: rgba(0, 0, 0, 0.4);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: strikethrough;
}
.alsolike .alsolikeList .alsolikeListCard .alsolikeListCardPrice h6 {
  border-radius: 62px;
  background: rgba(255, 51, 51, 0.1);
  padding: 6px 14px;
  color: #f33;
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}